@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Roboto", sans-serif;
}

::-webkit-scrollbar {
  width: 0;
}

/* Header styles */
.header {
  position: fixed;
  width: 100%;
  background: #252527;
  padding: 10px 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  z-index: 1000;
  transition: background .4s;
}

/* Header transparent */
.header.header__transparent {
  background: rgba( 255, 255, 255, 0 );
  backdrop-filter: blur( 3px );
  -webkit-backdrop-filter: blur( 3px );
}

.header .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  padding: 20px;
}

.header .logo .pen {
  background: #fafafa;
  padding: 10px;
  border-radius: 50%;
}

.header .logo .text__logo {
  font-size: 18px;
  font-weight: 600;
  color: #eac7a5;
}

.header nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header nav ul li {
  display: inline-block;
  margin: 0 14px;
}

.header nav ul li a {
  position: relative;
  font-size: 20px;
  opacity: .8;
  color: #eac7a5;
  transition: .8s ease;
}

.header nav ul li a:hover {
  opacity: 1;
}

.header nav ul li a::before {
  content: "";
  position: absolute;
  bottom: 4;
  width: 0;
  height: 2px;
  border-radius: 4px;
  background: #a67c52;
  transition: .3s ease;
}

.header nav ul li a:hover::before {
  width: 100%;
}

.header .buttons__header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .buttons__header button {
  padding: 14px 20px;
  background: #fbeee6;
  color: #252527;
  font-size: 18px;
  border-radius: 12px;
  cursor: pointer;
}

.header .buttons__header button.with__background {
  background: #fbeee6;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #252527;
  margin-left: 30px;
}

/* Banner Style */
.banner {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.banner .headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 3% 12%;
}

.banner .headline h1 {
  font-size: 3rem;
  color: #eac7a5;
  font-weight: 600;
  line-height: 1;
}

.banner .headline p {
  font-size: 24px;
  margin: 24px 0px;
  color: #eac7a5;
  opacity: .8;
}

.banner .headline .buttons__get {
  background: #eac7a5;
  border-radius: 12px;
  font-size: 18px;
  padding: 12px 30px;
  margin-right: 30px;
  cursor: pointer;
}

.banner .headline .buttons__discord {
  background: transparent;
  border: 2px solid #eac7a5;
  color: #eac7a5;
  border-radius: 12px;
  font-size: 18px;
  padding: 12px 30px;
  cursor: pointer;
}

.banner .headline .circle__headline {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: #eac7a5;
  margin: 40px 0px;
  animation: breathe 2.5s ease-in-out infinite;
}

@keyframes breathe {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.banner .image__placeholder {
  height: 100vh;
  background: #252527;
  padding: 0px 60px;
  overflow: hidden;
}

.banner .image__placeholder .images_column {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.banner .image__placeholder .images_column .col_1,
.banner .image__placeholder .images_column .col_2 {
  height: auto;
  background: transparent;
  display: flex;
  flex-direction: column;
}

.banner .image__placeholder .images_column .col_1 img,
.banner .image__placeholder .images_column .col_2 img {
  margin: 8px 0px;
  border-radius: 12px;
  width: 100%;
  display: block;
}

.scroll-up {
  animation: scrollUp 12s linear infinite;
}

.scroll-down {
  animation: scrollDown 12s linear infinite;
}

@keyframes scrollUp {
  0% { transform: translateY(0); }
  100% { transform: translateY(-50%); }
}

@keyframes scrollDown {
  0% { transform: translateY(-50%); }
  100% { transform: translateY(0); }
}

/* About Section */
.about {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: #252527;
  padding-top: 6%;
}

.about .feature-image__about {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /* padding: 24% 6%; */
}

.about .feature-image__about::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40%;
  height: 40%;
  border-radius: 50%;
  opacity: .4;
  z-index: 1;
  transform: translate(-50%, -50%);
  background: linear-gradient(135deg, #e7cdb2 60%, #eac7a5 100%);
  filter: blur(80px);
  animation: circleAnimate 2.5s ease-in-out infinite;
}

@keyframes circleAnimate {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.1);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

.about .feature-image__about img {
  position: relative;
  z-index: 2;
  width: 580px;
  height: auto;
  border-radius: 12px;
}

.about .feature-text__about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about .feature-text__about .context__box {
  border-radius: 8px;
  margin: 10px 0px;
  width: 100%;
  max-width: 820px;
  padding: 20px 20px;
  background: linear-gradient(135deg, #2b2b2e 60%, #28282b 100%);
  cursor: pointer;
  transition: .3s ease;
}

.about .feature-text__about .context__box:hover {
  background: #38383b;
}

.about .feature-text__about .context__box h1 {
  font-size: 26px;
  color: #ddc4ad;
  margin: 8px 0px;
}

.about .feature-text__about .context__box h2 {
  font-size: 18px;
  font-weight: 400;
  color: #ddc4ad;
  opacity: .8;
}

.about .feature-text__about .context__box p {
  font-size: 18px;
  margin: 8px 0px;
  color: #ebbf93;
}

/* Third section: Modals section */
.modals-section {
  width: 100%;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 6% 0%;
  overflow-y: auto;
}

.modals-section h1 {
  font-size: 1.8rem;
  /* line-height: 1; */
  color: #e7cdb2;
  margin: 50px 0px;
}

.modals-section .modals-section__box {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 20px 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.modals-section .modals-section__box .modal-box {
  width: auto;
  max-width: 540px;
  background: linear-gradient(135deg, #2b2b2e 60%, #28282b 100%);
  padding: 20px 20px;
  border-radius: 8px;
  text-align: left;
  transition: .3s ease;
}

.modals-section .modals-section__box .modal-box:hover {
  background: #38383b;
}

/* .modals-section .modals-section__box .modal-box::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40%;
  height: 40%;
  border-radius: 50%;
  opacity: .4;
  z-index: 1;
  transform: translate(-50%, -50%);
  background: linear-gradient(135deg, #e7cdb2 60%, #eac7a5 100%);
  filter: blur(80px);
} */

.modals-section .modals-section__box .modal-box .box-title {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 24px 0px;
  color: #ddc4ad;
  line-height: 1.2;
  display: flex;
}

.modals-section .modals-section__box .modal-box p {
  font-size: 18px;
  color: #eac7a5;
}

.modals-section .modals-section__box .modal-box .hashtags {
  padding: 2px 0px;
  margin-top: 20px;
}

.modals-section .modals-section__box .modal-box .hashtags span {
  margin: 0px 4px;
  padding: 4px 8px;
  cursor: pointer;
  background: #e7cdb2;
  color: #2b2b2e;
  border-radius: 25px;
}

/* Features includes */
.features-section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.features-section::after {
  content: "";
  position: absolute;
  top: 60%;
  left: 50%;
  width: 60vh;
  height: 60vh;
  border-radius: 50%;
  opacity: .4;
  transform: translate(-60%, -50%);
  background: linear-gradient(135deg, #e7cdb2 60%, #eac7a5 100%);
  filter: blur(60px);
  animation: circleAnimate 2.5s ease-in-out infinite;
}

.features-section .features-section__text {
  width: 100%;
}

.features-section .features-section__text h4 {
  font-size: 18px;
  font-weight: 600;
  color: #ebbf93;
}

.features-section .features-section__text h1 {
  font-size: 2.4rem;
  color: #e7cdb2;
  margin: 10px 0px;
}

.features-section .features-section__text p {
  font-size: 18px;
  color: #ebbf93;
}

.features-section .features-section__card {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 20px 40px;
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.features-section .features-section__card .feature__card {
  position: relative;
  width: auto;
  max-width: 540px;
  background: linear-gradient(135deg, #2b2b2e 60%, #28282b 100%);
  padding: 40px 20px;
  border-radius: 4px;
  text-align: left;
  z-index: 2;
}

.features-section .features-section__card .feature__card .feature__card-title {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 24px 0px;
  color: #ddc4ad;
  line-height: 1.2;
  display: flex;
}

.features-section .features-section__card .feature__card p {
  font-size: 18px;
  margin-bottom: 16px;
  color: #eac7a5;
}

.features-section .features-section__card .feature__card .hashtags span {
  margin: 0px 4px;
  padding: 4px 8px;
  cursor: pointer;
  background: #e7cdb2;
  color: #2b2b2e;
  border-radius: 25px;
}

.features-section .features-section__card .feature__card.second_child {
  position: relative;
}

/* .features-section .features-section__card .feature__card.second_child::before {
  
} */

/* Users Testimonial */
.users-testimonial__section {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.users-testimonial__section .users-testimonial__title {
  width: 100%;
  padding: 30px 0px;
  text-align: center;
}

.users-testimonial__section .users-testimonial__title h1 {
  font-size: 28px;
  color: #eac7a5;
}

.users-testimonial__section .users-testimonial__container {
  width: 100%;
  height: auto;
  background: linear-gradient(135deg, #2b2b2e 60%, #28282b 100%);
  padding: 80px 0px;
}

/* Faq Section */
.faq-section {
  width: 100%;
  height: 100vh;
}

.faq-section .faq-section__title {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.faq-section .faq-section__title h1 {
  font-size: 32px;
  color: #e7cdb2;
}

.faq-section .faq-section__title h2 {
  font-size: 24px;
  color: #ebbf93;
  opacity: .8;
}

.faq-section .faq-section__container {
  width: 100%;
  max-width: 1480px;
  height: auto;
  margin: 30px auto;
  background: linear-gradient(135deg, #2b2b2e 60%, #28282b 100%);
  border-radius: 8px;
  padding: 30px 20px;
}

.faq-section .faq-section__container .faq__box {
  width: 100%;
  height: auto;
  padding: 10px;
  border-radius: 4px;
}

/* Princing Section */
.pricing-section {
  width: 100%;
  height: 100vh;
  /* background: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pricing-section img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

.pricing-section p {
  font-size: 24px;
  color: #eac7a5;
  margin: 10px 0px;
}

/* Media Queries - Mobile Version */
@media (max-width: 1080px) {
  
  /* For Header */
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header .logo .text__logo {
    display: none;
  }

  .header nav {
    display: none;
  }

  .header .buttons__header button {
    font-size: 16px;
    border-radius: 12px;
    cursor: pointer;
  }

  /* For Banner */
  .banner {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .banner .headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .banner .headline h1 {
    font-size: 2rem;
    color: #eac7a5;
    font-weight: 600;
    line-height: 1;
  }

  .banner .headline p {
    font-size: 20px;
    margin: 24px 0px;
    color: #eac7a5;
    opacity: .8;
  }

  .banner .headline .buttons__headline {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 10px;
  }

  .banner .headline .buttons__headline button {
    margin: 10px 0px;
    font-size: 16px;
    width: 100%;
  }

  /* Images with display none */
  .banner .image__placeholder {
    display: none;
  }

  /* For about section */
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
  }

  .about .feature-image__about {
    width: 100%;
    height: auto;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .about .feature-image__about::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    opacity: .8;
    z-index: 1;
    transform: translate(-50%, -50%);
    background: linear-gradient(135deg, #e7cdb2 60%, #eac7a5 100%);
    filter: blur(80px);
    animation: circleAnimate 2.5s ease-in-out infinite;
  }

  @keyframes circleAnimate {
    0% {
      transform: translate(-50%, -50%) scale(1);
    }
    50% {
      transform: translate(-50%, -50%) scale(1.1);
    }
    100% {
      transform: translate(-50%, -50%) scale(1);
    }
  }

  .about .feature-image__about img {
    width: 380px;

    height: auto;
    border-radius: 50%;
  }

  .about .feature-text__about {
    margin: 60px 40px;
  }

  /* Modals section */
  .modals-section h1 {
    font-size: 1.2rem;
    /* line-height: 1; */
    color: #e7cdb2;
    margin: 50px 0px;
  }

  .modals-section .modals-section__box {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    /* padding: 20px 40px; */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
  }

  /* Features section */
  .features-section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .features-section::after {
    content: "";
    position: absolute;
    top: 60%;
    left: 50%;
    width: 40vh;
    height: 40vh;
    border-radius: 50%;
    opacity: .4;
    transform: translate(-60%, -50%);
    background: linear-gradient(135deg, #e7cdb2 60%, #eac7a5 100%);
    filter: blur(60px);
    animation: circleAnimate 2.5s ease-in-out infinite;
  }

  .features-section .features-section__text {
    padding: 10px 20px;
  }

  .features-section .features-section__text h4 {
    font-size: 18px;
    margin: 20px 0px;
    font-weight: 600;
    color: #ebbf93;
  }

  .features-section .features-section__text h1 {
    font-size: 1.8rem;
    color: #e7cdb2;
    margin: 10px 0px;
  }

  .features-section .features-section__text p {
    font-size: 14px;
    font-weight: 600;
    color: #ebbf93;
  }

  .features-section .features-section__card {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px 40px;
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
  }

  /* Users Testimonial */
  .users-testimonial__section {
    padding: 0px 20px;
  }

  .users-testimonial__section .users-testimonial__container {
    border-radius: 12px;
    padding: 20px;
  }

  .users-testimonial__section .users-testimonial__container .testimonial-user {
    font-size: 18px;
  }

  /* FAQ Section */
  .faq-section {
    width: 100%;
    height: 100vh;
    padding: 0px 30px;
  }

  .faq-section .faq-section__title h1 {
    font-size: 32px;
    color: #e7cdb2;
  }

  .faq-section .faq-section__title h2 {
    font-size: 22px;
    color: #ebbf93;
    opacity: .8;
    text-align: center;
  }

}

body {
  height: 200vh;
  background: #252527;
}
